/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Tinos&display=swap');

/* criação das variaveis para cores e fontes */
:root {
    --cor-primaria: #2e0049;
    --cor-primaria-light: #5b2b75;
    --cor-primaria-dark: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-light: #ffffff;
    --cor-secundaria-dark: #c0b3c2;

    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;

    --font-famaly-1: 'Tinos', serif;
    --font-famaly-2: 'Smooch Sans', sans-serif;
}

/* aplicação da formatação do corpo do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-famaly-1);
}/* --------------------------------------- */

main {
    background-color: var(--cor-secundaria);
}

/* START- Estilização da parte do 'carrocel' da home */
.main-carrocel {
    margin: 8px auto;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    /* box-shadow: 2px 2px 4px 2px; */
}

.main-carrocel img {
    width: 100%;
    height: auto;
    object-fit:cover;
}/* --------------------------------------- */

/* START- Estilização de 'categorias-destaques' */
.categorias-destaques-text {
    color: var(--cor-primaria-light);
    margin: 5px auto 6px;
    width: 95vw;
    display: flex;
    justify-content: center;
}

.categorias-destaques {
    margin: 0 auto;
    width: 95vw;
    height: 425px;
    display: flex;
    flex-flow: row wrap;
}

.categorias-destaques img{
    width: 100%;
    height: 100%;
}

.categorias-destaques section {
    margin: 0px auto 5px;
    box-shadow: 0px 0px 3px 1px;
    width: 40%;
    height: 172px;
}/* --------------------------------------- */

/* START- Estilização de 'container-mais-vendidos' */
.container-mais-vendidos-text {
    color: var(--cor-primaria-dark);
    margin: 0 auto 5px;
    width: 95vw;
    display: flex;
    justify-content: center;
}

.container-mais-vendidos {
    /* background-color: green; */
    margin: 0 auto;
    width: 95vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.container-mais-vendidos section {
    margin: 0px auto 10px;
    background-color: var(--cor-primaria-light);
    box-shadow: 0px 0px 3px 1px;
    width: 45%;
    height: 220px;
    position: relative;
}

.container-mais-vendidos section div {
    /* background-color: red; */
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mais-vendidos img {
    background-color: var(--cor-secundaria-light);
    border-radius: 4px;
    border: 1px solid var(--cor-primaria-dark);
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.container-mais-vendidos section h3 {
    height: 40px;
    color: var(--cor-texto-primario);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mais-vendidos section p {
    padding-right: 17px;
    color: var(--cor-texto-primario);
    position: absolute;
    right: 0;
    bottom: 38px;
}

.container-mais-vendidos section button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    margin-left: 7px;
    position: absolute;
    bottom: 5px;
    font-size: 14px;
}/* --------------------------------------- */

/* START- Estilização de 'container-mais-vendidos' */
.container-promocoes-text {
    color: var(--cor-primaria-light);
    margin: 15px auto 0px;
    width: 70vw;
    display: flex;
    justify-content: center;
}

.container-promocoes {
    /* background-color: gray; */
    margin: 0 auto;
    width: 95vw;
    max-height: 555px;
    display: flex;
    flex-flow: row wrap;
}

.container-promocoes section {
    margin: 0px auto 5px;
    border: 2px solid black;
    background-color: orange;
    width: 45%;
    height: 170px;
}/* --------------------------------------- */

