<link rel="stylesheet" href="/stylesheets/footer-style.css">

    <footer>
        <div class="footer-container">
            <div class="footer-central-atendimento">
                <h5>Central de atendimento</h5>
                <a href="mailto:faleconosco@adegadigital.com" target="_blank" rel="noopener noreferrer"
                title="Enviar e-mail">faleconosco@adegadigital.com</a>
            </div>
            <div class="footer-redes-sociais">
                <h5>Acompanhe nossas redes sociais</h5>
                <ul class="footer-icones-redes-sociais">
                    <li>
                        <a href= "https://www.instagram.com/" target="_blank" rel="noopener noreferrer" title="Ir para o Instagram">
                            <img src="/images/svg/instagram.svg" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href= "https://www.facebook.com/" target="_blank" rel="noopener noreferrer" title="Ir para o Facebook">
                            <img src="/images/svg/facebook.svg" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href= "https://www.youtube.com/" target="_blank" rel="noopener noreferrer" title="Ir para o YouTube">
                            <img src="/images/svg/youtube.svg" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href= "" target="_blank" rel="noopener noreferrer" title="Enviar Whatsapp">
                            <img src="/images/svg/whatsapp.svg" width="30" height="30">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-formas-de-pagamento">
                <h5>Formas de pagamento</h5>
                <ul class="footer-icones-formas-pagamento">
                    <li title="American Express">
                        <img src="../images/creditCardsSvg/Amex.svg" width="36" height="36">
                    </li>
                    <li title="Apple Pay">
                        <img src="../images/creditCardsSvg/ApplePay.svg" width="36" height="36">
                    </li>
                    <li title="Diners">
                        <img src="../images/creditCardsSvg/Diners.svg" width="36" height="36">
                    </li>
                    <li title="Discover">
                        <img src="../images/creditCardsSvg/Discover.svg" width="36" height="36">
                    </li>
                    <li title="Elo">
                        <img src="../images/creditCardsSvg/Elo.svg" width="36" height="36">
                    </li>
                    <li title="GooglePay">
                        <img src="../images/creditCardsSvg/GooglePay.svg" width="36" height="36">
                    </li>
                    <li title="Hipercard">
                        <img src="../images/creditCardsSvg/Hipercard.svg" width="36" height="36">
                    </li>
                    <li title="Mastercard">
                        <img src="../images/creditCardsSvg/Mastercard.svg" width="36" height="36">
                    </li>
                    <li title="Visa">
                        <img src="../images/creditCardsSvg/Visa.svg" width="36" height="36">
                    </li>
                    <li title="Boleto">
                        <img src="../images/creditCardsSvg/Boleto.svg" width="36" height="36">
                    </li>
                </ul>                
            </div>
        </div>
        <div class="footer-atalhos">
            <ul>
                <li>
                    <a href="/politicaPrivacidade" title="Política de privacidade">Política de Privacidade</a>
                </li>
                <li>
                    <a href="/termosUso" title="Termos de uso">Termos de uso</a>
                </li>
                <li>
                    <a href="/sobre" title="Sobre">Sobre</a>
                </li>
                <% if ( !locals.usuarioLogado ) { %>
                <li>
                    <a href="/usuario/login">Entrar</a>
                </li>
                <li>
                    <a href="/usuario/cadastro">Cadastrar</a>
                </li>
                <% } %>
                <li>
                    <a href="Rastrear entrega">Rastrear entrega</a>
                </li>
            </ul>
        </div>
        <div class="footer-rodape">
            <p>A venda de bebidas alcoólicas é proibida para menores de 18 anos. Aprecie com moderação. Se beber, não dirija.</p>
            <p>© 2022. Adega Digital S.A. - CNPJ: 00.123.456/0001-78. Bela Adega, 789 - Vinholândia, Nárnia - GR.</p>
            <p>Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>