<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/header-style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/stylesheets/header-style.js"></script>
        <title>Adega Digital</title>
    </head>
    <body>        
        <header>
        <!-- Início header mobile -->
        <div class="mobile">
            <!-- Menu hamburguer -->
            <button class="abrir-menu"><img src="/images/svg/menu.svg" width="36" height="36"></button>
            <nav class="menu-mobile">
                <ul>
                    <li>
                        <form class="busca-mobile-form" action="/produtos/busca" method="get">
                            <input type="text" id="busca-mobile-texto" placeholder="Buscar na Adega Digital..." title="Buscar na Adega Digital" name = "mobile-key"/>
                            <button class="busca-mobile-botao" type="submit" title="Buscar">
                                <img src="/images/svg/magnifying-glass.svg" width="36" height="36">
                            </button>
                        </form>
                    </li>
                    <li><a href="/produtos/vitrine-tinto" title="Vinho Tinto">Vinho Tinto</a></li>
                    <li><a href="/produtos/vitrine-branco" title="Vinho Branco">Vinho Branco</a></li>
                    <li><a href="/produtos/vitrine-rose" title="Vinho Rose">Vinho Rose</a></li>
                    <li><a href="/produtos/vitrine-espumante">Espumante</a></li>
                </ul>
            </nav>
            <!-- Logo do menu mobile -->
            <div class="logo-mobile">
                <a href="/" title="Home | Adega Digital"><img src="/images/logo/adega_digital_logonova.png" width="auto" height="100px"></a>
            </div>

            <!-- Div usuário mobile -->
            
            <div class="usuario">
                <button class="abrir-usuario-cadastro" title="Entrar ou cadastrar"><img src="/images/svg/user.svg" width="40" height="40"></button>
            <nav class="nav-usuario-cadastro">
                <div class="usuario-desktop-nao-logado">
                    <ul>
                        <li><a href="/usuario/login" title="Entrar">Entrar</a></li>
                        <li><a href="/usuario/cadastro" title="Realizar cadastro">Cadastrar</a></li>
                    </ul>
            </div>

            <!-- aqui vai link para pedidos e opção para sair do site -->
            
            <div class="usuario-desktop-logado">
                <ul>
                    <li><a href="" title="Entrar">Pedidos</a></li>
                    <li><a href="" title="Realizar cadastro">Sair</a></li>
                </ul>
            </div>
                <!-- <ul>
                    <li>
                        <form class="form-cadastro">
                            <h2>Login</h2>
                            <label for="email-cadastrado">Usuário:</label>
                            <input type="text" class="input-email-cadastrado" id="email-cadastrado" placeholder="E-mail" title="E-mail">
                            <label for="senha-cadastrada">Senha:</label>
                            <input type="password" class="input-senha-cadastrada" id="senha-cadastrada" placeholder="Senha" title="Senha">
                            <button class="botao-entrar" type="submit">Entrar</button>
                        </form>
                    </li>
                    <li><a href="/usuario/cadastro">Cadastrar</a></li>
                    <li><a href="">Recuperar senha</a></li>
                </ul> -->
            </nav>
            </div>

            <!-- Div adega mobile -->
            <div class="adega-mobile">
                <a href="produtos/adega" title="Ver adega"><img src="/images/svg/wine-rack.svg" width="60" height="60"></a>
            </div>
        </div>
        <!-- Fim header mobile -->

        <!-- Início header desktop -->
       
        <div class="padrao">
            <!-- Logo do menu desktop -->
            <div class="logo-desktop-container">
                <div class="logo-desktop-content">

                    <a href="/" title="Adega Digital"><img src="/images/logo/adega_digital_logonova.png" width="150px" height="auto"></a>

                </div>
            </div>


            <!-- 5º Usar a barra de buscas agora para usar o operador like; configura o método get e action manda para a página de busca -->
            <!-- o 'name' para usar no controller -->
            <div class="busca-padrao">
                <form class="busca-padrao-form" action="/produtos/busca" method="get">
                    <input type="text" id="busca-padrao-texto" placeholder="Buscar na Adega Digital..." title="Buscar na Adega Digital" name = "key"/>
                    <button class="busca-botao" type="submit" title="Buscar">
                        <img src="/images/svg/magnifying-glass.svg" width="36" height="36">
                    </button>
                </form>
            </div>
            <!-- ######################################### -->

            <!--Nova div do usuário-->


            <div class="usuario-desktop">
                <button class="abrir-usuario-desktop" title="Entrar ou cadastrar"><img src="/images/svg/user.svg" width="40" height="40"></button>
                
                <nav class="nav-abrir-usuario-desktop">
                    <!-- aqui vai o menu que abre quando clicado, vai aparecer opções para logar e cadastrar -->
                    <div class="usuario-desktop-nao-logado">
                            <ul>
                                <% if( !locals.usuarioLogado ) { %>
                                <li><a href="/usuario/login" title="Entrar">Entrar</a></li>
                                <li><a href="/usuario/cadastro" title="Realizar cadastro">Cadastrar</a></li>
                                <% } %>
                            </ul>
                    </div>
    
                    <!-- aqui vai link para pedidos e opção para sair do site -->
                    
                    <div class="usuario-desktop-logado">
                        <ul>
                            <% if ( locals.usuarioLogado ) { %>
                            <li><a href="" title="Pedidos">Pedidos</a></li>
                            <li><a href="/usuario/logout" title="Área de logout">Sair</a></li>
                            <% } %>
                        </ul>
                    </div>
                    
                </div>
                </nav>

            <!--Div do usuário antiga-->

            <!-- <div class="usuario">
                <div class="user-title">
                    <img src="/images/svg/user.svg" width="40" height="40">

                    <% if ( locals.usuarioLogado ) { %>
                    <a href="/usuario/logout" title="Área de logout"><p>Logout</p></a>
                    <% } %>
                    <% if(!locals.usuarioLogado) { %>
                    <a href="/usuario/cadastro" title="Área de cadastro"><p>Cadastro</p></a>
                    <% } %>
                </div>

                <a href="/usuarios/login" title="Área de login"><p>Login</p></a>
                <% if ( locals.usuarioLogado ) { %>
                <a href="/usuarios/logout" title="Área de logout"><p>Logout</p></a>
                <% } %>
                <% if(!locals.usuarioLogado) { %>
                <a href="/usuarios/cadastro" title="Área de cadastro"><p>Cadastro</p></a>
                <% } %>
            </div> -->

            <div class="adega">
                <a href="produtos/adega" title="Ver adega"><img src="/images/svg/wine-rack.svg" width="60" height="60"></a>
            </div>
        </div>
        <!-- Navigation do header para desktop -->
        <nav class="menu-padrao">
            <ul>
                <li class="tinto"><a href="/produtos/vitrine-tinto" title="Vinho Tinto">Vinho Tinto</a></li>
                <li class="branco"><a href="/produtos/vitrine-branco" title="Vinho Branco">Vinho Branco</a></li>
                <li class="rose"><a href="/produtos/vitrine-rose" title="Vinho Rose">Vinho Rose</a></li>
                <li class="espumante"><a href="/produtos/vitrine-espumante" title="Espumante">Espumante</a></li>
            </ul>
        </nav>
    </header> 
</html>