/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Tinos&display=swap');

/* ***************************************************** */
/* GERAIS */

:root {
    --cor-primaria: #2e0049;
    --cor-primaria-light: #5b2b75;
    --cor-primaria-dark: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-light: #ffffff;
    --cor-secundaria-dark: #c0b3c2;
    --cor-secundaria-medio: #bc97c2;


    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;

    --estilo-fonte-1: 'Raleway', sans-serif;
    --estilo-fonte-2: 'Dancing Script', 'cursive';

    --fonte-tamanho-extraPequeno: 0.9rem;
    --fonte-tamanho-pequeno: 1.2rem;
    --fonte-tamanho-medio: 1.8rem;
    --fonte-tamanho-grande: 2.0rem;
    --fonte-tamanho-extraGrande: 2.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    background-color: var(--cor-secundaria-dark);
}

/* ***************************************************************************** */
/* GERAIS */

.tituloDaPagina {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-family: var(--estilo-fonte-2);
    font-size: var(--fonte-tamanho-grande);
    border-bottom: 2px solid var(--cor-primaria);
}

/* ***************************************************** */
/* CARRINHO */

/* Itens do pedido */

.caixaItemCarrinho {
    margin: 10px auto 10px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.caixaItemCarrinho_sec-1 {
    border-radius: 2px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: #ffffff;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 10px;
}

.imagem-produto-adega {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 30%;
    margin: 10px;
}

.imagem-produto-adega-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.imagem-produto-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

/* .imagem-produto-input label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 5px 0px 0px;
    font-size: var(--fonte-tamanho-extrapequeno);
    font-family: var(--estilo-fonte-1);
    font-weight: bold;
    color: var(--cor-texto-secundaria);
} */

.imagem-produto-input input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--fonte-tamanho-extrapequeno);
    font-family: var(--estilo-fonte-1);
    font-weight: bold;
    color: var(--cor-texto-secundaria);
    padding: 0px 0px 0px 5px;
}

.imagem-produto-input a img {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 5px;
}

.info-produto-adega {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 70%;
    margin: 5px;
}

.info-produto-adega h3 {
    font-size: var(--fonte-tamanho-medio);
    font-family: var(--estilo-fonte-1);
    font-weight: bold;
    color: var(--cor-texto-secundaria);
    padding: 10px 10px 10px 10px;
}

.info-produto-adega p {
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--estilo-fonte-1);
    font-weight: normal;
    color: var(--cor-texto-secundaria);
    padding: 10px 10px 10px 10px;
}

.info-produto-adega span {
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--estilo-fonte-1);
    font-weight: bold;
    color: var(--cor-texto-secundaria);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    align-content: flex-end;
}

/* Calculo frete e prazo de entrega */

.totais {
    margin: 10px auto 10px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.totais-calculo-frete {
    border-radius: 2px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #ffffff;
    padding: 10px;
}

.respostas-cep {
    display: flex;
    flex-direction: column;
}

.totais-resumo-compra {
    border-radius: 2px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    background-color: #ffffff;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 10px;
}

.resumo-compra-subtotal{
    display: flex;
}

.resumo-compra-total {
    display: flex;
}

.voltar-finalizar-compra {
    margin: 10px auto 10px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.voltar-comprar {
    border-radius: 2px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: #ffffff;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 10px;
}

/* .caixaItemCarrinho section div {
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
} */

/* .caixaItemCarrinho img {
    background-color: var(--cor-secundaria-light);
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.caixaItemCarrinho section h3 {
    padding: 0 5px;
    height: 40px;
    color: var(--cor-texto-primario);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixaItemCarrinho section p {
    padding-right: 17px;
    color: var(--cor-texto-primario);
    position: absolute;
    right: 0;
    bottom: 38px;
}

.containerBotoesAdc{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
} */


  /* ****************************************************************** */
/* CARRINHO */





  /* ****************************************************************** */
/* TOTAIS */

/* .totais{
    width: 70%;
    display: block;
}

.boxTotais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 3px;
    width: 100%;
    height: 100px;
    position: relative;
}



.numeroTotais{
    font-weight: bold;
} */



/* INPUT */

/* input[type=number] {
    /*for absolutely positioning spinners*//*
    position: relative; 
    padding: 5px;
    padding-right: 25px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }

  input[type=number]::-webkit-outer-spin-button, 
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  } */


  /* ****************************************************************** */
/* TOTAIS */

/* .voltar{
    font-family: var(--estilo-fonte-1);
}

a {
    color: #ffffff;
    border-radius: 5px;
    background-color: #2e0049;
    font-weight: bold;
} */



/* ************************************************************ */
/* CONTINUAR COMPRA (CAIXA) */

/* .abaContinuarCompra{
    color: var(--cor-primaria-dark);
    background-color: var(--cor-secundaria-medio);
    width: 95vw;
    justify-content: center;
    padding: 30px 0 15px 0;
}

.botaoSimular{
    color: white;
    display: block;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
    border: none;
    background-color: #2e0049;
    font-weight: bold;
}


.abaCompraBox{
    width: 95%;
}

.pagamentoBox{
    display: flex;
    align-items: center;
}

.formularioCep{
    display: flex;
    gap: 10px;
}

.tituloSecao{
    font-size: 25px;
}

.inputCep{
    padding-left: 4px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    width: 100%;
}

.botaoFimCompra{
    background-color: #2e0049;
    font-size: 25px;
    color: #ffffff;
    display: block;
    width: 95%;
    padding: 10px 0;
    border-radius: 5px;
    
}

.preco{
    font-weight: bold;
} */


/* ************************************************************ */
/* CONTINUAR COMPRA (CAIXA) */
