/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap');

/* criação das variaveis para cores e fontes */
:root {
    --cor-primaria: #2e0049;
    --cor-primaria-claro: #5b2b75;
    --cor-primaria-claro-opaco: #5b2b7548;
    --cor-primaria-escuro: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-claro: #ffffff;
    --cor-secundaria-escuro: #c0b3c2;

    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;
    --cor-botão-selecionado: #ff9100;

    --estilo-fonte-1: 'Raleway', sans-serif;
    --estilo-fonte-2: 'Dancing Script', 'cursive';

    --fonte-tamanho-extraPequeno: 0.9rem;
    --fonte-tamanho-pequeno: 1.2rem;
    --fonte-tamanho-medio: 1.8rem;
    --fonte-tamanho-grande: 2.0rem;
    --fonte-tamanho-extraGrande: 2.7rem;
}

/* aplicação da formatação do corpo do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* --------------------------------------- */

header {
    width: 100%;
    background-color: var(--cor-primaria);
}

body {
    background-color: var(--cor-secundaria);
}

/* Div pai logo, form de busca, login e adega desktop */
.padrao {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.padrao input {
    background-color: var(--cor-primaria);
    height: 36px;
    width: 300px;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
    font-weight: bold;
    color: var(--cor-secundaria-escuro);
}

.busca-padrao-form input {
    border: none;
    outline: none;
}

/* Logo desktop */
.logo-desktop-container {
    background-color: #c0b3c2;
}

.logo-desktop-content {
    background-color: var(--cor-primaria);
}

/* Form de busca desktop */
.busca-botao {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.busca-padrao {
    border: var(--cor-secundaria-escuro);
}

.busca-padrao-form {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px var(--cor-secundaria-escuro);
    padding: 2px;
}

/* Login e cadastro de usuário desktop */

/* Usuário */
.usuario-desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Botão */
.abrir-usuario-desktop {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    padding-bottom: 5px;
}

.abrir-usuario-desktop:hover {
    transform: scale(1.01);
}

.nav-abrir-usuario-desktop {
    display: none;
}

.visivel-usuario-desktop {
    display: block;
    position: absolute;
    top: 100%;
    left: inherit;
    width: auto;
    height: auto;
    background-color: var(--cor-primaria);
    z-index: 2;
    border-bottom: 1px solid var(--cor-primaria-escuro);
    border-left: 1px solid var(--cor-primaria-escuro);
    border-right: 1px solid var(--cor-primaria-escuro);
    border-radius: 5px;
}
/* Div do usuário não logado */

.usuario-desktop-nao-logado {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.usuario-desktop-nao-logado ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.usuario-desktop-nao-logado li a {
    text-decoration: none;
    list-style: none;
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--estilo-fonte-1);
    font-weight: bold;
}

.usuario-desktop-nao-logado a {
    color: var(--cor-secundaria-escuro);
    padding: 15px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.usuario-desktop-nao-logado a:hover {
    transform: scale(1.1);
}
/* Usuário logado */

/*-ERROR-PAGE---*/
.error-container {
    display: flex;
    align-items: center;
    margin: 166px 45px;
    text-align: center;
    border: 5px solid var(--cor-primaria-escuro);
    border-radius: 4px;
    padding: 15px;
    background-color: #ffcfcf;
}

.error-message {
    font-family: var(--estilo-fonte-1);
    font-size: 40px;
}
/*-ERROR-PAGE---*/

/* Botões de gerenciamento administrador */
.admin-btn-container {
    font-family: var(--estilo-fonte-1);
    width: 100%;
    height: auto;
    display: flex;
}

.admin-btn-container a {
    text-decoration: none;
}

.left-btn {
    margin: 20px 10px 0 auto;
}

.right-btn {
    margin: 20px auto 0 10px;
}

.btn-admin {
    width: auto;
    height: auto;
    padding: 0 5px;
    font-size: 24px;
    color: var(--cor-texto-secundaria);
    font-weight: bold;
    text-align: center;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
    background-color: #baacc2;
}

.btn-admin:hover {
    background-color: #993bd0;
    color: var(--cor-secundaria-claro);
    /* box-shadow: -1px 1px 2px white; */
}
/* Botões de gerenciamento administrador */

/* Div usuário logado */

.usuario-nome-p {
    color: var(--cor-secundaria-escuro);
    margin-top: 14px;
    margin-right: 5px;
    font-size: var(--fonte-tamanho-pequeno);
}

.usuario-nome-p b {
    color: var(--cor-secundaria-escuro);
    font-size: var(--fonte-tamanho-pequeno);
    font-weight: bold;
}

.usuario-desktop-logado {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.usuario-desktop-logado ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.usuario-desktop-logado li a {
    text-decoration: none;
    list-style: none;
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--estilo-fonte-1);
    font-weight: bold;
}

.usuario-desktop-logado a {
    color: var(--cor-secundaria-escuro);
    padding: 15px;
    display: flex;
    position: static;
    transition: transform 0.3s ease-in-out;
}

.usuario-desktop-logado a:hover {
    transform: scale(1.1);
}

.adega {
    transition: transform 0.3s ease-in-out;
}

.adega:hover {
    transform: scale(1.1);
}

/* Navigation (v. tinto, v. branco, v. rose, espumante) desktop */
.menu-padrao ul {
    display: flex;
    gap: 16px;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    position: static;
}

.menu-padrao li a {
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
    font-weight: bold;
    color: var(--cor-secundaria-escuro);
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    position: static;
}

.tinto {
    transition: transform 0.3s ease-in-out;  
}

.tinto:hover {
    transform: scale(1.1);
}
.branco {
    transition: transform 0.3s ease-in-out;  
}

.branco:hover {
    transform: scale(1.1);
}

.rose {
    transition: transform 0.3s ease-in-out;  
}

.rose:hover {
    transform: scale(1.1);
}

.espumante {
    transition: transform 0.3s ease-in-out;  
}

.espumante:hover {
    transform: scale(1.1);
}

.abrir-menu {
    display: none;
}

.mobile, .logo-mobile, .menu-mobile {
    display: none;
}

.visivel {
    display: block;
}

@media (max-width: 768px) {
    .padrao, .menu-padrao, .usuario-mobile {
        display: none;
    }
    
    /* Div inteira do header mobile */
    .mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 15vh;
    }
    
    /* Botão menu haburguer */
    .abrir-menu  {
        display: block;
        background-color: transparent;
        border: none;
    }

    .menu-mobile.visivel {
        display: block;
        position: absolute;
        top: 15vh;
        left: 0;
        right: 0;
        width: 100vw;
        height: 85vh;
        background-color: var(--cor-primaria);
        z-index: 2;
    }

    nav.menu-mobile.visivel {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav.menu-mobile.visivel ul {
        list-style: none;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        padding-top: 30px;
    }

    nav.menu-mobile.visivel li {
        text-align: center;
        padding: 15px;
    }

    nav.menu-mobile.visivel a {
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-medio);
        text-decoration: none;
        color: var(--cor-secundaria-escuro);
        font-weight: bold;
    }

    .busca-mobile-form {
        display: flex;
        border-bottom: 2px solid var(--cor-secundaria-escuro);
    }

    .busca-mobile-form input {
        background-color: transparent;
        border: none;
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-pequeno);
        font-weight: bold;
        color: var(--cor-secundaria-escuro);
        align-self: center;
        padding: 2px 2px 2px 2px;
    }

    .busca-mobile-botao {
        background-color: transparent;
        border: none;
        padding: 0px 0px 0px 10px;
    }

    .logo-mobile {
        display: block;
    }

    .logo-mobile a {
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-grande);
        font-weight: bold;
        color: var(--cor-secundaria-escuro);
        text-decoration: none;
    }
    .usuario {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .usuario a {
        color: var(--cor-secundaria-escuro);
        font-size: var(--fonte-tamanho-pequeno);
        font-weight: bold;
    }
    
    .abrir-usuario-cadastro {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }
    
    .abrir-usuario-cadastro:hover {
        transform: scale(1.1);
    }
    
    .nav-usuario-cadastro {
        display: none;
        flex-direction: column;
    }
    
    .nav-usuario-cadastro li {
        color: var(--cor-secundaria-escuro);
        font-family: var(--estilo-fonte-1);
        font-weight: var(--fonte-tamanho-medio);
        padding: 10px;
    }
    
    .nav-usuario-cadastro li a {
        display: flex;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
    }
    
    .nav-usuario-cadastro li a:hover {
        transform: scale(1.1);
    }
    
    .form-cadastro {
        display: flex;
        flex-direction: column;
    }
    
    .form-cadastro h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    
    .form-cadastro label {
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-pequeno);
        font-weight: bold;
        color: var(--cor-secundaria-escuro);
        align-self: center;
    }
    
    .form-cadastro {
        align-self: center;
    }
    
    .form-cadastro button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        width: 100px;
        height: 35px;
        margin: 0 auto;
        left: 10px;
        bottom: 10px;
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-Pequeno);
        font-weight: bold;
        line-height: 13px;
        color: var(--cor-texto-secundaria);
        transition: 0.2s ease-in-out;
    }
    
    .form-cadastro button:hover {
        color: var(--cor-secundaria-claro);
        background-color: var(--cor-primaria-claro);
    }
    
    .input-email-cadastrado {
        background-color: transparent;
        border: none;
        border-radius: 2px;
        outline: 2px solid var(--cor-secundaria-escuro);
        height: 36px;
        width: 300px;
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-pequeno);
        font-weight: bold;
        color: var(--cor-secundaria-escuro);
        align-self: center;
        padding: 4px;
        margin: 10px;
    }
    
    .input-senha-cadastrada {
        background-color: transparent;
        border: none;
        border-radius: 2px;
        outline: 2px solid var(--cor-secundaria-escuro);
        height: 36px;
        width: 300px;
        font-family: var(--estilo-fonte-1);
        font-size: var(--fonte-tamanho-pequeno);
        font-weight: bold;
        color: var(--cor-secundaria-escuro);
        align-self: center;
        padding: 4px;
        margin: 10px;
    }
    
    .visivel-usuario {
        display: block !important;
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100%;
        height: 85vh;
        background-color: var(--cor-primaria);
        z-index: 2;
    }
}