/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap');

/* criação das variaveis para cores e fontes */
:root {
    --cor-primaria: #2e0049;
    --cor-primaria-claro: #5b2b75;
    --cor-primaria-claro-opaco: #5b2b7548;
    --cor-primaria-escuro: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-claro: #ffffff;
    --cor-secundaria-escuro: #c0b3c2;

    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;

    --estilo-fonte-1: 'Raleway', sans-serif;
    --estilo-fonte-2: 'Dancing Script', 'cursive';

    --fonte-tamanho-extraPequeno: 0.9rem;
    --fonte-tamanho-pequeno: 1.2rem;
    --fonte-tamanho-userList: 26px;
    --fonte-tamanho-medio: 1.8rem;
    --fonte-tamanho-grande: 2.0rem;
    --fonte-tamanho-extraGrande: 2.7rem;
}

/* aplicação da formatação do corpo do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main{
    background-color: var(--cor-secundaria);
}/* --------------------------------------- */

/* -PAGINAS-'USUÁRIOS'-E-'USUÁRIO'---*/
.users-list-title {
    margin: 10px auto 0px;
    font-family: var(--estilo-fonte-1);
    text-align: center;
}

.users-list-subtitle {
    margin: 10px auto 0px;
    font-family: var(--estilo-fonte-1);
    text-align: center;
}

.users-list-box {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.users-list-table {
    border: 1px solid var(--cor-primaria-escuro);
    background-color: var(--cor-secundaria-claro);
}

.users-list-title b {
    font-size: 30px;
    font-weight: 900;
    color: #993bd0;
    padding: 5px;
}

.users-list-title td{
    font-size: var(--fonte-tamanho-medio);
    padding: 0 5px;
    height: 40px;
    text-align: center;
    background-color: var(--cor-primaria-escuro);
    color: var(--cor-secundaria-claro);
}

.users-list-content td {
    height: 55px;
    padding: 0 10px;
    font-family: system-ui;
    font-size: var(--fonte-tamanho-userList);
    background-color: var(--cor-secundaria);
}

.users-list-options {
    font-weight: bold;
    text-align: center;
}

.config-ver {
    padding: 2px 5px;
    color: var(--cor-primaria-claro);
    background-color: rgba(0, 128, 255, 0.274);
    transition: 0.2s ease-in-out;
    border: 1px solid black;
}

.config-editar {
    padding: 2px 5px;
    color: var(--cor-primaria-claro);
    background-color: rgba(0, 255, 38, 0.274);
    transition: 0.2s ease-in-out;
    border: 1px solid black;
}

.config-excluir {
    padding: 2px 5px;
    color: var(--cor-primaria-claro);
    background-color: rgba(255, 0, 0, 0.275);
    transition: 0.4s ease-in-out;
    border: 1px solid black;
}

.config-ver:hover {
    background-color: rgb(0, 128, 255);
    border-radius: 4px;
    color: white;
}

.config-editar:hover {
    background-color: rgb(0, 255, 38);
    border-radius: 4px;
    color: white;
}

.config-excluir:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    color: white;
}

/*-PAGINAS-'USUÁRIOS'-E-'USUÁRIO'---*/


/*-CADASTRO--------*/

.form-title {
    text-align: center;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-grande);
}

.form-box {
    margin: 50px auto 190px;
}

.form {
    font-weight: bold;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-medio);
    padding: 15px 15px 0;
    width: 420px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--cor-secundaria-claro);
    margin: 5px auto 15px;
    text-align: center;
    border: 1px solid black;
}

.form label {
    margin: 0 auto;
}

.form input {
    margin: 0 auto;
    width: 380px;
    height: 35px;
    padding: 0 3px;
    font-size: 20px;
    text-align: center;
    border-radius: 0;
    border: 2px solid #5b2b7556;
    transition: 0.2s ease-in-out;
    outline: none;
}

.form input:focus {
    border:3px solid #5b2b75;
}

.form-btt {
    display: flex;
    padding: 15px;
}

.form-btt button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 35px;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--estilo-fonte-1);
    font-size: 16px;
    line-height: 13px;
    color: var(--cor-texto-secundaria);
    transition: 0.2s ease-in-out;
}

.form-btt button:hover {
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}

/*-CADASTRO--------*/

/* START- 'carrossel' da home usando Slick Slide */
.carousel {
    margin: 10px auto;
    width: auto;
    height: 100%;
}

.slick-prev:before, .slick-next:before {
    color: var(--cor-primaria-claro);
    opacity: 0.5;
    font-size: 30px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 15px;
    bottom: -35px;
}

.slick-prev {
    left: -35px;
}

.slick-dots li.slick-active button:before {
    color: var(--cor-primaria-escuro);
}

.slick-dots li button:before {
    font-size: 15px;
    color: var(--cor-primaria-claro);
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}/* --------------------------------------- */


/* START- 'categorias-destaques' */
.categorias-destaques-text {
    color: var(--cor-primaria-claro);
    margin: 50px auto 6px;
    width: 95vw;
    display: flex;
    justify-content: center;
    font-family: var(--estilo-fonte-2);
    font-size: var(--fonte-tamanho-extraGrande);
    border-top: 1px solid var(--cor-secundaria-escuro);
}

.categorias-destaques {
    margin: 0 auto;
    min-width: 300px;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.categorias-destaques section {
    margin: 15px 5px;
    box-shadow: 0px 0px 2px 1px var(--cor-primaria-escuro);
    width: auto;
    height: 172px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.categorias-destaques-titulo-cards {
    position: absolute;
    top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.categorias-destaques-titulo-cards h3 {
    width: auto;
    padding: 0 5px;
    text-align: center;
    background-color: var(--cor-primaria-claro-opaco);
    border-radius: 3px;
    color: var(--cor-texto-secundaria);
    text-shadow: 1px 1px 1px white;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
}

.categorias-destaques img{
    width: 100%;
    height: 100%;
    filter: grayscale(40%);
    display: block;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.categorias-destaques section:hover img {
    transform: scale(1.5);
    filter: grayscale(0%);
}/* --------------------------------------- */

/* Container produtos */
.container-title {
    margin: 2% 0 2% 7%;
    font-size: 50px;
    font-family: var(--estilo-fonte-1);
    color: var(--cor-primaria);
}

.container-produtos {
    margin: 5px auto 20px;
    width: 95vw;
    min-height: 562px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-produtos section {    
    background-color: var(--cor-texto-primario);
    margin: 5px auto;
    width: 90%;
    height: 250px;
    max-width: 190px;
    border-radius: 3px;
    position: relative;
}

.container-produtos section:hover {
    box-shadow: 0px 0px 3px 0px var(--cor-primaria-escuro);
}

.container-produtos section div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-produtos img {
    background-color: var(--cor-secundaria-claro);
    margin: 0 auto;
    height: 90%;
}

.container-produtos section h3 {
    margin: 0 auto;
    border-top: 1px solid var(--cor-primaria-escuro);
    width: 90%;
    padding: 2px 0;
    color: var(--cor-primaria-escuro);
    text-align: center;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-extraPequeno);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-produtos p {
    color: var(--cor-texto-secundaria);
    font-weight: bold;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
    position: absolute;
    right: 20px;
    bottom: 46px;
}

.container-produtos section button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 85%;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    left: 7%;
    bottom: 10px;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-extraPequeno);
    font-weight: bold;
    line-height: 13px;
    color: var(--cor-texto-secundaria);
    transition: 0.2s ease-in-out;
}

.container-produtos section:hover button{
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}
/* Container produtos */


/* START- 'container-promocoes' */
.container-promocoes-text {
    border-top: 1px solid var(--cor-secundaria-escuro);
    padding-top: 5px;
    color: var(--cor-primaria-claro);
    margin: 20px auto 0px;
    width: 95vw;
    display: flex;
    justify-content: center;
    font-family: var(--estilo-fonte-2);
    font-size: var(--fonte-tamanho-extraGrande);
}

.container-promocoes {
    margin: 5px auto 20px;
    width: 95vw;
    min-height: 562px;
    max-height: 555px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-promocoes section {    
    background-color: var(--cor-texto-primario);
    margin: 5px auto;
    width: 90%;
    height: 250px;
    max-width: 190px;
    border-radius: 3px;
    position: relative;
}

.container-promocoes section:hover {
    box-shadow: 0px 0px 3px 0px var(--cor-primaria-escuro);
}

.container-promocoes section div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-promocoes img {
    background-color: var(--cor-secundaria-claro);
    margin: 0 auto;
    height: 90%;
}

.container-promocoes section h3 {
    margin: 0 auto;
    border-top: 1px solid var(--cor-primaria-escuro);
    width: 90%;
    padding: 2px 0;
    color: var(--cor-primaria-escuro);
    text-align: center;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-extraPequeno);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-promocoes .preco-antigo {
    color: var(--cor-primaria-escuro);
    background-color: var(--cor-secundaria-escuro);
    border-radius: 2px;
    width: 62px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    font-size: var(--fonte-tamanho-extraPequeno);
    font-family: var(--estilo-fonte-1);
    position: absolute;
    left: 7%;
    bottom: 69px;
}

.container-promocoes .preco-novo {
    color: var(--cor-texto-secundaria);
    font-weight: bold;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
    position: absolute;
    right: 20px;
    bottom: 46px;
}

.container-promocoes section button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 85%;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    left: 7%;
    bottom: 10px;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-extraPequeno);
    font-weight: bold;
    line-height: 13px;
    color: var(--cor-texto-secundaria);
    transition: 0.2s ease-in-out;
}

.container-promocoes section:hover button{
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}/* --------------------------------------- */

.container-promocoes_sec-1 input{
    align-items: center;
}


.forme {
    text-align: center;
    margin-top: 10px;
    

}

.inpute {
    text-align: center;
    width: 70%;
}

/* START- 'container-mais-vendidos' */
.container-mais-vendidos-text {
    border-top: 1px solid var(--cor-secundaria-escuro);
    padding-top: 5px;
    color: var(--cor-primaria-claro);
    margin: 20px auto 5px;
    width: 95vw;
    display: flex;
    justify-content: center;
    font-family: var(--estilo-fonte-2);
    font-size: var(--fonte-tamanho-extraGrande);
}

.container-mais-vendidos {
    margin: 5px auto 40px;
    width: 95vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 15px;
}

.container-mais-vendidos section {
    margin: 0px auto 10px;
    border-radius: 3px;
    background-color: var(--cor-secundaria-claro);
    width: 45%;
    height: 250px;
    max-width: 190px;
    position: relative;
}

.container-mais-vendidos section:hover {
    box-shadow: 0px 0px 3px 0px var(--cor-primaria-escuro);
}

.container-mais-vendidos section div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mais-vendidos img {
    background-color: var(--cor-secundaria-claro);
    margin: 0 auto;
    height: 90%;
}

.container-mais-vendidos section h3 {
    margin: 5px auto;
    border-top: 1px solid var(--cor-primaria-escuro);
    width: 90%;
    padding: 7px 0;
    height: auto;
    color: var(--cor-primaria-escuro);
    text-align: center;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-extraPequeno);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mais-vendidos section p {
    padding-right: 17px;
    color: var(--cor-texto-secundaria);
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
    font-weight: bold;
    position: absolute;
    right: 3px;
    bottom: 50px;
}

.container-mais-vendidos section button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 85%;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    left: 7%;
    bottom: 10px;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-extraPequeno);
    font-weight: bold;
    line-height: 13px;
    color: var(--cor-texto-secundaria);
    transition: 0.2s ease-in-out;
}

.container-mais-vendidos section:hover button {
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}/* --------------------------------------- */

/* Ocultando input quantidade de itens da home */
.container-promocoes_sec-2, .forme, .inpute {
    display: none;
}

@media screen and (min-width: 600px){
    .categorias-destaques {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        column-gap: 5vw;
    }

    .categorias-destaques img {
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    .carousel {
        max-width: 840px;
        border: 3px solid var(--cor-secundaria-escuro);
    }

    .slick-dots {
        bottom: -30px;
    }

    /* START- 'categorias-destaques */
    .categorias-destaques section {
        max-width: 176px;
        height: 400px;
    }
    
    .categorias-destaques img{
        object-fit: cover;
    }/*---------------------------------*/

    
    
    /*START- 'container-promocoes'*/
    .container-promocoes {
        margin: 0 auto;
        width: 90vw;
        max-height: 555px;
        display: grid;
    }

    .container-promocoes section {    
        max-width: 190px;
        height: 260px;
    }
    
    .container-promocoes section h3 {
        font-size: var(--fonte-tamanho-pequeno);
        padding: 7px 0;
    }

    .container-promocoes .preco-antigo {
        bottom: 50px;
    }
    
    .container-promocoes .preco-novo {
        bottom: 50px;
    }/*--------------------------------*/



    /* START- 'container-mais-vendidos */
    .container-mais-vendidos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container-mais-vendidos section {
        width: 80%;
        height: 260px;
    }
    
    .container-mais-vendidos section h3{
        font-size: var(--fonte-tamanho-pequeno);
    }/*---------------------------------*/
}

@media screen and (min-width: 900px) {
    .container-promocoes {
        display: flex;
        min-height: 300px;
    }
}

@media screen and (min-width: 1024px) {

    .categorias-destaques{
        max-width: 950px;
    }

    .container-mais-vendidos {
        max-width: 950px;
    }

    .container-promocoes {
        max-width: 950px;
    }
}