/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Tinos&display=swap');

/* ***************************************************** */
/* GERAIS */

:root {
    --cor-primaria: #2e0049;
    --cor-primaria-light: #5b2b75;
    --cor-primaria-dark: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-light: #ffffff;
    --cor-secundaria-dark: #c0b3c2;
    --cor-secundaria-medio: #bc97c2;


    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;

    --estilo-fonte-1: 'Raleway', sans-serif;
    --estilo-fonte-2: 'Dancing Script', 'cursive';

    --fonte-tamanho-extraPequeno: 0.9rem;
    --fonte-tamanho-pequeno: 1.2rem;
    --fonte-tamanho-medio: 1.8rem;
    --fonte-tamanho-grande: 2.0rem;
    --fonte-tamanho-extraGrande: 2.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--cor-secundaria);
}



/* Código antigo */

/* .corpoTodo {
  margin: 10px auto 10px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
} */

/* é o card do produto todo */
/* .flex-produto {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
} */

/* Caixa no torno da descrição */
/* .produtos-descricao {
  font-weight: bolder;
  color: var(--cor-texto-secundaria);
} */

/* **************************** IMAGEM ****************************************** */
/* .row, .col-md {
  width: 100%;
  max-width: 100%;
} */

/* .imagenzinha {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
} */

/* .imagem-card {
  border-radius: 10px;
} */

/* **************************** TEXTOS ****************************************** */

/* .card-body h5 {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-medio);
  font-weight: bold;
} */

/* .card-body h6 {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: bold;
}

.card-text {
  font-size: var(--fonte-tamanho-pequeno);
  font-family: var(--estilo-fonte-1);
  text-align: justify;
}

.card-title {
  font-size: var(--fonte-tamanho-medio);
  font-weight: bold;
  font-family: var(--estilo-fonte-1);
}

.col-6 {
  font-size: var(--fonte-tamanho-extrapequeno);
  font-family: var(--estilo-fonte-1);
  font-weight: bold;
}

.justify-content-center {
  justify-content: center !important;
}

.preco-produto {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: bolder;
}

.adicionar-adega {
  background-color: var(--cor-texto-primario);
  margin: 5px auto;
  width: 90%;
  height: auto;
  max-width: 190px;
  border-radius: 3px;
  position: relative;
}

.botao-adicionar-adega {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 85%;
  height: 35px;
  margin: 0 auto;
  position: absolute;
  left: 7%;
  bottom: 10px;
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-extraPequeno);
  font-weight: bold;
  line-height: 13px;
  color: var(--cor-texto-secundaria);
  transition: 0.2s ease-in-out;
}

.botao-adicionar-adega:hover {
  color: var(--cor-secundaria-claro);
  background-color: var(--cor-primaria-claro);
} */