/* importação das fontes */
/* @import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Tinos&display=swap'); */

/* ***************************************************** */
/* GERAIS */

:root {
    --cor-primaria: #2e0049;
    --cor-primaria-light: #5b2b75;
    --cor-primaria-dark: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-light: #ffffff;
    --cor-secundaria-dark: #c0b3c2;
    --cor-secundaria-medio: #bc97c2;


    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;

    --estilo-fonte-1: 'Raleway', sans-serif;
    --estilo-fonte-2: 'Dancing Script', 'cursive';

    --fonte-tamanho-extraPequeno: 0.9rem;
    --fonte-tamanho-pequeno: 1.2rem;
    --fonte-tamanho-medio: 1.8rem;
    --fonte-tamanho-grande: 2.0rem;
    --fonte-tamanho-extraGrande: 2.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-todo {
  margin: 10px auto 10px;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.imagem-detalhes-preco {
  display: flex;
  flex-direction: row;
}

.detalhes-produto-unitario {
  border-radius: 2px;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #ffffff;
  padding: 10px;
  align-content: center;
  align-items: center;
}

.imagem-produto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 25%;
  margin: 10px;
}

.imagem-produto img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 70%;
}

.detalhes-produto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.titulo-detalhes-produto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.titulo-detalhes-produto h5 {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-grande);
  font-weight: bolder;
  color: var(--cor-texto-secundaria);
  padding: 10px;
}

.titulo-detalhes-produto h6 {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: bold;
  color: var(--cor-texto-secundaria);
  padding: 10px;
}

.titulo-detalhes-produto p {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: normal;
  color: var(--cor-texto-secundaria);
  padding: 10px;
}

.outros-detalhes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px
}

.outros-detalhes p {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: bold;
  color: var(--cor-texto-secundaria);
  padding: 0px 10px 5px 0px;
}

.produto-preco-produto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.produto-preco-produto p {
  font-family: var(--estilo-fonte-1);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: bold;
  color: var(--cor-texto-secundaria);
  padding: 10px;
}

.adicionar-adega {
  display: flex;
}

.adicionar-adega button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: auto;
  height: 35px;
  margin: 0 auto;
  font-weight: bold;
  font-family: var(--estilo-fonte-1);
  font-size: 16px;
  line-height: 13px;
  color: var(--cor-texto-secundaria);
  transition: 0.2s ease-in-out;
  padding: 10px;
}

.adicionar-adega button:hover {
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}