<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/stylesheets/adega.css' />
  </head>
  <body>

    <%- include('./partials/header'); -%>

    <main>
        <!-- Títula da página -->
        <div class="tituloDaPagina">
            <h2>Minha Adega</h2>
        </div>

        <!-- Item adicionado ao carrinho -->
        <div class="caixaItemCarrinho">

            <section class="caixaItemCarrinho_sec-1">
                
                <!-- Imagem do produto e input para adicionar remover -->
                <div class="imagem-produto-adega">
                    
                    <!-- Imagem -->
                    <div class="imagem-produto-adega-imagem">
                        <img src="/images/garrafas/antonio.webp" alt="" width="auto" height="150px">
                    </div>
                    
                    <!-- Intut adicionar e apagar -->
                    <div class="imagem-produto-input">
                        <input type="number" value="1" step="1"/>
                        <a class="excluir-produto-adega-botao" title="Excluir da minha adega"><img src="/images/svg/trash-svg.svg" width="30px" height="auto"></a>
                    </div>  
                </div>
                
                <!-- Informações do produto - nome, descrição e preço -->
                <div class="info-produto-adega">
                    <h3 class="info-produto-adega-titulo"> (Nome do vinho aqui) </h3>
                    <p class="info-produto-adega-descricao"> (Descrição aqui) Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quae sed cumque laborum sequi cupiditate deserunt!</p>
                    <span class="info-produto-adega-preco">R$ (preço)</span>
                </div>
            </section>

        </div>

        <!-- Div para finalização do pedido -->
        <div class="totais">

            <!-- Calculo frete -->
            <section class="totais-calculo-frete">
                <h4>Calcular o frete</h4>
                <form class="formularioCep">
                    <input class="inputCep" type="text" id="CEP" name="CEP" placeholder="Informe seu CEP" required>
                    <input type="submit" class="botaoSimular" value="Simular">
                    <div class="respostas-cep">
                        <span class="resposta-valor-frete">Valor do frete R$(aqui)</span>
                        <span class="'resposta-prazo-entrega">Prazo de entrega (aqui) dias</span>
                    </div>
                </form>
            </section>
            
            <!-- Resumo do pedido -->
            <section class="totais-resumo-compra">
                <h4>Resumo</h4>
                
                <div class="resumo-compra-subtotal">
                    <div class="resumo-compra-subtotal-conteudo">
                        <span class="quantidade-itens">Quantidade de itens (aqui)</span>
                        <span class="valor-itens">Subtotal R$(aqui)</span>
                    </div>
                </div>
                
                <div class="resumo-compra-total">
                    <div class="resumo-compra-total-conteudo">
                        <h4>Total</h4>
                        <span class="valor-itens">R$(aqui)</span>
                    </div>
                </div>           
            </section>

            <!-- Forma de pagamento -->
            <section class="condicoes-pgto">
                <div class="escolha-forma-pagamento">
                    <h4>Forma de pagamento</h4>
                    <label>Opções de pagamento</label>
                    <form class="condicoes-pagamento-opcoes">
                        <select required>
                            <option>Boleto</option>
                            <option>Cartão de crédito</option>
                        </select>
                    </form>
                </div>

                <!-- Cartão de crédito -->
                <div class="dados-cartao-credito">
                    <h4>Dados cartão de crédito</h4>
                    <form>
                        <label for="nun-cartao">Número do cartão</label>
                        <input name="nun-cartao" id="nun-cartao" type="text" placeholder="XXXX XXXX XXXX XXXX" required>
                        
                        <label for="nome">Nome</label>
                        <input name="nome" id="nome" type="text" placeholder="NOME SOBRENOME">
                        
                        <label for="validade">Validade</label>
                        <input name="validade" id="validade" type="text" placeholder="MÊS/ANO" required>
                        
                        <label for="cv">Código de segurança</label>
                        <input name="cv" id="cv" type="text" placeholder="XXX" minlength="3" maxlength="3" required>
                    
                    </form>
                </div>
            </section>

            <!-- Endereço de entrega -->
            <section class="dados-endereco-entrega">
                <h4>Endereço de entrega</h4>
                <form actio="" method="" class="form-end-entrega">
                    <label for="endereco">Endereço</label>
                    <input name="endereco" id="endereco" type="text" placeholder="Rua, Avenida, Acesso..." required>
                    
                    <label for="nun">Número</label>
                    <input name="nun" id="nun" type="text" placeholder="Número" required>
                    
                    <label for="complemento">Complemento</label>
                    <input id="complemento" type="text" placeholder="Complemento">
                    
                    <label for="bairro">Bairro</label>
                    <input name="bairro" id="bairro" type="text" placeholder="Bairro" required>
                    
                    <label for="cidade">Cidade</label>
                    <input name="cidade" id="cidade" type="text" placeholder="Cidade" required>
                   
                    <label for="estado">Estado</label>
                    <input name="estado" id="estado" type="text" placeholder="Estado" required>
                   
                    <label for="ref">Referências ou observações</label> 
                    <input name="ref" id="ref" type="text" placeholder="Referências">

                </form>
            </section>
        </div>

        <!-- Botões continuar compra e finalizar -->
        <div class="voltar-finalizar-compra">

            <section class="voltar-comprar">

                <!-- Volta para home -->
                <div class="voltar">
                    <a href="/"><button class="botao-voltar" type="">Continuar comprando</button></a>
                </div>
        
                <!-- Finalizar compra -->
                <div class="aba-compra-box">
                    <button class="botao-finalizar-compra" type="">Finalizar Compra</button>
                </div>
            </section>
        </div>

    </main>

<%- include('../views/partials/footer'); -%>