<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/stylesheets/adega.css' />
  </head>
  <body>

    <%- include('../views/partials/header'); -%>

    <main>

        <div class="tituloDaPagina">
            <h2>Minha Adega</h2>
        </div>

        <div class="caixaItemCarrinho">

            <section class="caixaItemCarrinho_sec-1">
                
                <div class="imagem-produto-adega">
                    
                    <div class="imagem-produto-adega-imagem">
                        <img src="/images/garrafas/antonio.webp" alt="" width="auto" height="150px">
                    </div>
                    
                    <div class="imagem-produto-input">
                        <!-- <label>Quantidade</label> -->
                        <input type="number" value="1" step="1"/>
                        <a class="excluir-produto-adega-botao" title="Excluir da minha adega"><img src="/images/svg/trash-svg.svg" width="30px" height="auto"></a>
                    </div>  
                </div>
                
                <div class="info-produto-adega">
                    <h3>Vinho Faruna - Tinto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quae sed cumque laborum sequi cupiditate deserunt!</p>
                    <span>R$ 227,60</span>
                </div>
            </section>

        </div>

        <div class="totais">

            <section class="totais-calculo-frete">
                <h4>Calcular o frete</h4>
                <form class="formularioCep">
                    <input class="inputCep" type="text" id="CEP" name="CEP" placeholder="Informe seu CEP" required>
                    <input type="submit" class="botaoSimular" value="Simular">
                    <div class="respostas-cep">
                        <span class="resposta-valor-frete">Valor do frete R$(aqui)</span>
                        <span class="'resposta-prazo-entrega">Prazo de entrega (aqui) dias</span>
                    </div>
                </form>
            </section>
            
            <section class="totais-resumo-compra">
                <h3>Resumo</h3>
                
                <div class="resumo-compra-subtotal">
                    <div class="resumo-compra-subtotal-conteudo">
                        <span class="quantidade-itens">Quantidade de itens (aqui)</span>
                        <span class="valor-itens">Subtotal R$(aqui)</span>
                    </div>
                </div>
                
                <div class="resumo-compra-total">
                    <div class="resumo-compra-total-conteudo">
                        <h4>Total</h4>
                        <span class="valor-itens">R$(aqui)</span>
                    </div>
                </div>

                <div class="condicoes-pgto">
                    <label>Condições de pagamento</label>
                    <form class="condicoes-pagamento-opcoes">
                        <select required>
                            <option>Boleto</option>
                            <option>Cartão de crédito</option>
                        </select>
                    </form>
                </div>
            
            </section>
        
        </div>

        <div class="voltar-finalizar-compra">
            <section class="voltar-comprar">
                <div class="voltar">
                    <button class="botao-voltar" type="">Continuar comprando</button>
                </div>
        
                <div class="aba-compra-box">
                    <button class="botao-finalizar-compra" type="">Finalizar Compra</button>
                </div>
            </section>
        </div>

    </main>

<%- include('../views/partials/footer'); -%>