<head>
    <link rel='stylesheet' href='/stylesheets/home-style.css'/>
</head>
<%- include('./partials/header'); -%>

    <main class="error-body">
        <div class="error-container">
            <h1 class="error-message"><%= title %> <%= message %></h1>
        </div>
    </main>

<%- include('./partials/footer'); -%>