<%- include('../views/partials/header') -%>
<head>
    <link rel="stylesheet" href="/stylesheets/home-style.css">
</head>

        <main>
            <section class="form-box">
                <div class="form-title">
                    <h1>Login</h1>
                </div> 
    
                <form action="" method="POST" class="form">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">    

                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha"> 

                    <div class="form-btt">
                        <button type="submit">Logar</button>
                        <button type="reset">Limpar campos</button>
                    </div>
                </form>
            </section>
        </main>
    
<%- include('../views/partials/footer') -%>