<%- include('partials/header')%>
<main>
    <h1>Gerenciamento de Produtos</h1>
    <section>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>nome</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </section>
</main>