/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Tinos&display=swap');

/* criação das variaveis para cores e fontes */
:root {
    --cor-primaria: #2e0049;
    --cor-primaria-light: #5b2b75;
    --cor-primaria-dark: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-light: #ffffff;
    --cor-secundaria-dark: #c0b3c2;

    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;

    --font-famaly-1: 'Tinos', serif;
    --font-famaly-2: 'Smooch Sans', sans-serif;
}


/* aplicação da formatação do corpo do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-famaly-1);
}

main {
    background-color: var(--cor-secundaria);
    padding: 10px;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main .subtitle {
    align-self: center;
    margin: 5px 5px
}

section .data {
    position: relative;
}

section h2 {
    margin: 20px 20px;
}

form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

label {
    margin: 5px 5px;
    font-size:x-large;
}

input {
    margin: 5px 5px;
    border: solid 2px var(--cor-primaria-dark);
    height: 30px;
    width: 90%;
}

.age_input {
    width: 5%;
}

.political_privacity_input {
    width: 5%;
}

div .pessoal_data_age {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

div .political_privacity {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

