/* importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Tinos&display=swap');

/* criação das variaveis para cores e fontes */
:root {
    --cor-primaria: #2e0049;
    --cor-primaria-claro: #5b2b75;
    --cor-primaria-claro-opaco: #5b2b7548;
    --cor-primaria-escuro: #130023;

    --cor-secundaria: #f3e5f5;
    --cor-secundaria-claro: #ffffff;
    --cor-secundaria-escuro: #c0b3c2;

    --cor-texto-primario: #fff;
    --cor-texto-secundaria: #000;
    --cor-botão-selecionado: #ff9100;

    --estilo-fonte-1: 'Tinos', serif;
    --estilo-fonte-2: 'Smooch Sans', sans-serif;

    --fonte-tamanho-extraPequeno: 0.9rem;
    --fonte-tamanho-pequeno: 1.2rem;
    --fonte-tamanho-medio: 1.8rem;
    --fonte-tamanho-grande: 2.0rem;
    --fonte-tamanho-extraGrande: 2.7rem;
}

/* aplicação da formatação do corpo do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--estilo-fonte-1);
}/* --------------------------------------- */

main, html{
    background-color: var(--cor-secundaria);
}

/* START- 'carrocel' da home */
.main-carrocel {
    margin: 8px auto;
    width: auto;
    min-height: 162px;
    max-height: 390px;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main-carrocel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}/* --------------------------------------- */

/* START- 'categorias-destaques' */
.categorias-destaques-text {
    color: var(--cor-primaria-claro);
    margin: 15px auto 6px;
    width: 95vw;
    display: flex;
    justify-content: center;
    font-size: var(--fonte-tamanho-grande);
    border-top: 1px solid var(--cor-secundaria-escuro);
}

.categorias-destaques {
    border-bottom: 1px solid var(--cor-secundaria-escuro);
    margin: 0 auto;
    width: 95vw;
    max-height: 810px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-flow: row wrap;
}

.categorias-destaques section {
    margin: 15px 5px;
    box-shadow: 0px 0px 3px 1px;
    width: auto;
    height: 172px;
    position: relative;
}

.categorias-destaques-titulo-cards {
    position: absolute;
    top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categorias-destaques-titulo-cards h3 {
    width: 75%;
    text-align: center;
    background-color: var(--cor-primaria-claro-opaco);
    border-radius: 3px;
    text-shadow: 1px 1px 1px white;
    font-family: var(--estilo-fonte-1);
    font-size: var(--fonte-tamanho-pequeno);
}

.categorias-destaques img{
    width: 100%;
    height: 100%;
}/* --------------------------------------- */

/* START- 'container-mais-vendidos' */
.container-mais-vendidos-text {
    color: var(--cor-primaria-escuro);
    margin: 0 auto 5px;
    width: 95vw;
    display: flex;
    justify-content: center;
    font-size: var(--fonte-tamanho-grande);
}

.container-mais-vendidos {
    border-bottom: 1px solid var(--cor-secundaria-escuro);
    margin: 0 auto;
    width: 95vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 15px;
}

.container-mais-vendidos section {
    margin: 0px auto 10px;
    border-radius: 3px;
    background-color: var(--cor-secundaria-claro);
    width: 45%;
    height: 220px;
    max-width: 190px;
    position: relative;
}

.container-mais-vendidos section:hover {
    box-shadow: 0px 0px 3px 0px;
}

.container-mais-vendidos section div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mais-vendidos img {
    background-color: var(--cor-secundaria-claro);
    border-bottom: 1px solid var(--cor-primaria-escuro);
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.container-mais-vendidos section h3 {
    padding: 0 5px;
    height: 40px;
    color: var(--cor-primaria-escuro);
    text-align: center;
    font-size: var(--fonte-tamanho-extraPequeno);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mais-vendidos section p {
    padding-right: 17px;
    color: var(--cor-primaria-escuro);
    font-size: var(--fonte-tamanho-pequeno);
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 35px;
}

.container-mais-vendidos section button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 85%;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    left: 7%;
    bottom: 5px;
    font-size: var(--fonte-tamanho-extraPequeno);
    font-weight: bold;
    line-height: 13px;
}

.container-mais-vendidos section button:hover{
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}/* --------------------------------------- */

/* START- 'container-promocoes' */
.container-promocoes-text {
    color: var(--cor-primaria-claro);
    margin: 15px auto 0px;
    width: 70vw;
    display: flex;
    justify-content: center;
    font-size: var(--fonte-tamanho-grande);
}

.container-promocoes {
    margin: 0 auto;
    width: 95vw;
    max-height: 555px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.container-promocoes section {    
    background-color: var(--cor-texto-primario);
    margin: 5px auto;
    width: 45%;
    height: 220px;
    max-width: 190px;
    border-radius: 3px;
    position: relative;
}

.container-promocoes section:hover {
    box-shadow: 0px 0px 3px 0px;
}

.container-promocoes section div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-promocoes img {
    background-color: var(--cor-secundaria-claro);
    border-bottom: 1px solid var(--cor-primaria-escuro);
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.container-promocoes section h3 {
    padding: 0 5px;
    height: 40px;
    color: var(--cor-primaria-escuro);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-promocoes section p {
    color: var(--cor-primaria-escuro);
    position: absolute;
    right: 0;
    bottom: 38px;
    font-weight: bold;
    font-size: var(--fonte-tamanho-extraPequeno);
}

.container-promocoes .preco-antigo {
    background-color: gray;
    border-radius: 2px;
    width: 48px;
    height: 14px;
    text-align: center;
    text-decoration: line-through;
    font-size: 12px;
    position: absolute;
    left: 5%;
    bottom: 43px;
}

.container-promocoes .preco-novo {
    font-size: var(--fonte-tamanho-pequeno);
    position: absolute;
    right: 10px;
}

.container-promocoes section button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 85%;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    left: 7%;
    bottom: 5px;
    font-size: var(--fonte-tamanho-extraPequeno);
    font-weight: bold;
    line-height: 13px;
}

.container-promocoes section button:hover{
    color: var(--cor-secundaria-claro);
    background-color: var(--cor-primaria-claro);
}/* --------------------------------------- */

