<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/header-style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="redes-sociais">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" title="Ir para o Instagram">
                            <img src="../images/svg/instagram.svg" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" title="Ir para o facebook">
                            <img src="../images/svg/facebook.svg" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" title="Ir para o YouTube">
                            <img src="../images/svg/youtube.svg" width="30" height="30">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank" rel="noopener noreferrer" title="Abrir Whatsapp">
                            <img src="../images/svg/Whatsapp.svg" width="30" height="30">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Desktop -->
        <div class="padrao">
            <div class="logo-padrao">
                <a href="/" title="Adega Digital"><img src="../images/logo/logo-adega-frase.png" width="100" height="auto"></a>
            </div>
            <div class="busca-padrao">
                <form class="busca-padrao-form" action="" method="get">
                    <input type="text" id="busca-padrao-texto" placeholder="Buscar na Adega Digital..." title="Buscar na Adega Digital"/>
                    <button class="busca-botao" type="submit" title="Buscar">
                        <img src="../images/svg/magnifying-glass.svg" width="36" height="36">
                    </button>
                </form>
            </div>
            <div class="usuario">
                <a href="../cadastro" title="Ãrea do cliente"><img src="../images/svg/user.svg" width="40" height="40"></a>
            </div>
            <div class="adega">
                <a href="../adega" title="Ver adega"><img src="../images/svg/wine-rack.svg" width="60" height="60"></a>
            </div>
        </div>
        <nav class="menu-padrao">
            <ul>
                <li><a href="../vitrine-tinto" title="Vinho Tinto">Vinho Tinto</a></li>
                <li><a href="../vitrine-branco" title="Vinho Branco">Vinho Branco</a></li>
                <li><a href="../vitrine-rose" title="Vinho Rose">Vinho Rose</a></li>
                <li><a href="../vitrine-espumante" title="Espumante">Espumante</a></li>
            </ul>
        </nav>
    </header> 
        </header>
        <script src="../stylesheets/header-style.js"></script>
    </body>


</html>
