<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="./stylesheets/vitrine-style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine</title>
</head>
    
<%- include('../views/partials/header'); -%>

<body>

    <h1 class="vitrine-text">Vinho Tinto</h1>

    <main>
        <div class="container-vitrine">
            <section>
                <div>
                    <img src="./images/garrafas/vinho-manolo-rose.svg" alt="">
                </div>
                <h3>Vinho manolo rosé</h3>
                <p>R$ 78,99</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-terras-rose.svg" alt="">
                </div>
                <h3>Vinho terras rosé</h3>
                <p>R$ 84,49</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-tantehue-tinto.svg" alt="">
                </div>
                <h3>Vinho tantehue tinto</h3>
                <p>R$ 49,89</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-elegance-espumante.svg" alt="">
                </div>
                <h3>Vinho elegance espumante</h3>
                <p>R$ 46,79</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-terras-rose.svg" alt="">
                </div>
                <h3>Vinho terras rosé</h3>
                <p>R$ 84,49</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-manolo-rose.svg" alt="">
                </div>
                <h3>Vinho manolo rosé</h3>
                <p>R$ 78,99</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-presence-espumante.svg" alt="">
                </div>
                <h3>Vinho presence espumante</h3>
                <p>R$ 45,59</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-tantehue-branco.svg" alt="">
                </div>
                <h3>Vinho tantehue branco</h3>
                <p>R$ 65,69</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-elegance-espumante.svg" alt="">
                </div>
                <h3>Vinho elegance espumante</h3>
                <p>R$ 46,79</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-presence-espumante.svg" alt="">
                </div>
                <h3>Vinho presence espumante</h3>
                <p>R$ 45,59</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-terras-rose.svg" alt="">
                </div>
                <h3>Vinho terras rosé</h3>
                <p>R$ 84,49</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-manolo-rose.svg" alt="">
                </div>
                <h3>Vinho manolo rosé</h3>
                <p>R$ 78,99</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-tantehue-tinto.svg" alt="">
                </div>
                <h3>Vinho tantehue tinto</h3>
                <p>R$ 49,89</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-elegance-espumante.svg" alt="">
                </div>
                <h3>Vinho elegance espumante</h3>
                <p>R$ 46,79</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-presence-espumante.svg" alt="">
                </div>
                <h3>Vinho presence espumante</h3>
                <p>R$ 45,59</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-tantehue-branco.svg" alt="">
                </div>
                <h3>Vinho tantehue branco</h3>
                <p>R$ 65,69</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-elegance-espumante.svg" alt="">
                </div>
                <h3>Vinho elegance espumante</h3>
                <p>R$ 46,79</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-manolo-rose.svg" alt="">
                </div>
                <h3>Vinho manolo rosé</h3>
                <p>R$ 78,99</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-terras-rose.svg" alt="">
                </div>
                <h3>Vinho terras rosé</h3>
                <p>R$ 84,49</p>
                <button>Adicionar a adega</button>
            </section>
            <section>
                <div>
                    <img src="./images/garrafas/vinho-tantehue-tinto.svg" alt="">
                </div>
                <h3>Vinho tantehue tinto</h3>
                <p>R$ 49,89</p>
                <button>Adicionar a adega</button>
            </section>
        </div>
    </main>

    <%- include('../views/partials/footer'); -%>
</body>
</html>